@font-face {
	font-family: 'MonumentGrotesk';
	src: url('./lib/fonts/MonumentGrotesk-Regular.otf');
	font-weight: 1 999;
	font-display: swap;
}

@font-face {
	font-family: 'Knockout';
	src: url('./lib/fonts/Knockout-68.woff2');
	font-weight: 1 999;
	font-display: swap;
}

:root {
	font-family: 'MonumentGrotesk', sans-serif;
	--knockout: 'Knockout', sans-serif;
	color: var(--white);

	/* Colours */
	--blue: #1e1aff;
	--black: #000000;
	--white: #ffffff;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--black);
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--knockout);
	line-height: 100%;
	text-align: center;
	margin: 0;
}
